<div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination paginationU">
      <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
        <a class="page-link" (click)="currentPage = currentPage - 1"
          >Previous</a
        >
      </li>

      <ng-container *ngFor="let image of images; let i = index">
        <li
          class="page-item"
          [ngClass]="{ active: i === currentPage }"
          *ngIf="PageIndex(i)"
        >
          <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
        </li>
      </ng-container>

      <li
        class="page-item"
        [ngClass]="{ disabled: currentPage === images.length - 1 }"
      >
        <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
      </li>
    </ul>
  </nav>

  <div class="mainImg">
    <h4 appFirst [backgroundColor]="'aqua'">{{ images[currentPage].title }}</h4>
    <img class="ImgStyle" [src]="images[currentPage].url" />
  </div>

  <!-- <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">First Page</div>

    <div *ngSwitchCase="1">Second Page</div>

    <div *ngSwitchCase="3">Third Page</div>

    <div *ngSwitchDefault>UnKnown Page</div>
  </div> -->

</div>
